:root {
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Font sizes */
  --font-size-xxs: .625rem;
  --font-size-xs: .75rem;
  --font-size-s: .875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.375rem;

  /* Color palette */
  --color-light: #ebebd3;
  --color-gray: #9c9c9b;
  --color-dark: #3c3c3b;
  --color-yellow: #f5d547;
  --color-blue: #1446a0;
  --color-dnd: #e40712;
  /* Spacing */
  --gap-xxs: .125rem;
  --gap-xs: .25rem;
  --gap-s: .5rem;
  --gap-m: 1rem;
  --gap-l: 1.5rem;
  --gap-xl: 2rem;
  --gap-xxl: 2.875rem;
}


/* Base elements */

body,
button,
input,
select,
textarea {
  font-family: var(--font-system);
  font-size: var(--font-size-s);
}

body,
html {
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  padding: var(--gap-m);
}

@media screen and (max-width: 860px) {
  body {
    padding: var(--gap-s);
  }
}

a {
  color: var(--color-blue);
  font-weight: 500;
  text-decoration: none;
}

strong {
  font-style: italic;
  font-weight: 500;
}

abbr,
abbr[title] {
  text-decoration: none;
}

.unit {
  color: var(--color-gray);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  margin-left: var(--gap-xxs);
  vertical-align: .375em;
}

ul {
  list-style: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M 0 4 L 10 4' stroke='#9c9c9b' stroke-width='2'/></svg>");
  margin: var(--gap-s) 0;
  padding: 0 0 0 var(--gap-m);
}

ul li {
  padding: var(--gap-xs) 0;
}

p {
  line-height: 1.3;
  margin: 0;
}

p + p,
p + table,
table + p,
table + table {
  margin-top: var(--gap-m);
}


/* Form */

.inline-form {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.inline-form + .inline-form {
  margin-top: var(--gap-m);
}

.inline-form__item--main {
  flex-grow: 1;
}

.inline-form__item--spaced {
  margin-right: var(--gap-s);
}

::placeholder {
  color: rgba(0, 0, 0, .8);
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="submit"],
button,
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--color-light);
  border: none;
  border-radius: 0;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: var(--gap-xs) var(--gap-s);
}

input[type="text"],
input[type="search"],
input[type="number"] {
  min-width: 0;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M 0 0 L 10 0 L 5 10 Z' fill='#3c3c3b'/></svg>");
  background-position: right var(--gap-s) center;
  background-repeat: no-repeat;
  background-size: 8px;
  padding-right: var(--gap-m);
  width: 100%;
}

.select {
  position: relative;
}
.select:after {
  content: "▾";
  position: absolute;
  right: 0;
}

button,
input[type="submit"] {
  background: var(--color-dark);
  color: white;
  font-variant: all-small-caps;
}


/* Icons */

.icon--tiny {
  height: 16px;
  transition: color 300ms;
  width: 16px;
}

.icon--faded {
  color: var(--color-gray);
}

.icon--dndb:hover {
  color: var(--color-dnd);
}


/* Site Grid */

.grid {
  column-gap: var(--gap-xxs);
}

.grid--main {
  columns: 3;
}

.grid--half {
  columns: 2;
}

.grid--full {
  columns: 1;
}

.grid__item {
  break-inside: avoid;
  box-decoration-break: slice;
  padding: 5px;
}

@media screen and (max-width: 1280px) {
  .grid--main {
    columns: 2;
  }
}

@media screen and (max-width: 860px) {
  .grid--main,
  .grid--half {
    columns: 1;
  }
}

@media screen and (min-width: 1600px) {
  .grid--main {
    columns: 4;
  }
  .grid--half {
    columns: 3;
  }
}

@media screen and (min-width: 2000px) {
  .grid--main {
    columns: 5;
  }
  .grid--half {
    columns: 4;
  }
}


/* Blocks */

.block {
  background: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .2);
}

.block__header {
  align-items: center;
  border-bottom: 1px solid var(--color-light);
  display: flex;
  font-size: var(--font-size-m);
  font-variant: all-small-caps;
  font-weight: 700;
  justify-content: space-between;
  padding: var(--gap-s) var(--gap-m);
}

.block__body {
  padding: var(--gap-m);
}

.dice__op {
  color: var(--color-gray);
  margin: 0 var(--gap-xxs);
  vertical-align: .05rem;
}


/* Lists */

.col-list {
  columns: 2;
  column-gap: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.col-list__item {
  break-inside: avoid;
}


/* Tables */

@media screen and (max-width: 860px) {
  .table-wrap {
    position: relative;
    overflow-x: auto;
    box-shadow: inset -14px 0 10px -10px var(--color-light);
  }
}

table {
  font-variant: tabular-nums;
  width: 100%;
  word-break: keep-all;
}

thead {
  border-bottom: 1px solid var(--color-light);
  color: var(--color-gray);
  font-size: var(--font-size-m);
  font-variant: all-petite-caps;
  text-align: left;
}

td,
th {
  padding: var(--gap-xs) 0;
}

th + th,
td + td,
.cell--space {
  padding-left: var(--gap-s);
}

tbody th {
  border-right: 1px solid var(--color-light);
  font-weight: normal;
  padding-right: var(--gap-s);
  text-align: left;
}

tbody tr:hover {
  background: rgba(235, 235, 211, .3);
}

tr + tr {
  border-top: 1px solid var(--color-light);
}


/* Areas */

.areas {
  display: grid;
  grid-gap: var(--gap-m);
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 460px) {
  .areas {
    grid-template-columns: 1fr;
  }
}

.areas__item {
  margin: 0;
  position: relative;
}

.areas__legend {
  font-weight: 700;
  padding: var(--gap-xs);
  position: absolute;
}

.areas__content {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' stroke='#ebebd3' fill='none' width='20' height='20'><rect x='0' y='0' width='10' height='10'></rect></svg>") repeat center center;
  border: 1px solid var(--color-light);
  height: 180px;
  min-width: 180px;
  width: 100%;
}

.areas__circle,
.areas__translation {
  fill: none;
}

.areas__reference {
  fill: var(--color-light);
}

.areas__circle {
  stroke: var(--color-dnd);
}

.areas__translation {
  stroke: var(--color-dark);
}
